$main-font-color:rgb(255, 255, 255);
$accent-font-color:rgba(36, 163, 255, 1);
$hover-color:rgba(240, 20, 90, 1);
$unreal-font-color:rgba(179, 179, 186, 1);
$font-weight-normal: 400;
$font-weight-bold: 700;
$hero-color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);

